.feature {
    background-color: #c8c8c8;
    margin: 0px 5px;
}

h3 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 29px 0px 0px 0px;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}

.warning {
    background-color: #ebeb20;
}

.icon {
    font-size: 18px;
    float: left;
    margin-top: 3px;
}

.icon-right {
    float: right;
}